<mat-toolbar>
    <button mat-button class="menubar-item" routerLink="home" routerLinkActive="menubar-item-active">
        <span>ARK Cloud Storage</span>
    </button>
    <button mat-button class="menubar-item" (click)="openDocs()">
        <mat-icon>description</mat-icon>
        <span>Documentation</span>
    </button>
    <button mat-button class="menubar-item" (click)="openSource()">
        <mat-icon>code</mat-icon>
        <span>Source Code</span>
    </button>
    <button mat-button class="menubar-item menubar-item-left" routerLink="register" routerLinkActive="menubar-item-active">
        <mat-icon>app_registration</mat-icon>
        <span>Register</span>
    </button>
</mat-toolbar>

<router-outlet />
