@use '@angular/material' as mat;

html {
    color-scheme: light dark;
    @include mat.theme((
        color: mat.$violet-palette,
    ));
}

html, body {
    height: 100%;
}
body {
    margin: 0;
    color: var(--mat-app-text-color);
    background-color: var(--mat-bottom-sheet-container-background-color);
}

@font-face {
    font-family: 'ark';
    src: url('/ARK-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$my-typography: mat.m2-define-typography-config($font-family: '"ark", "sans-serif"');
@include mat.all-component-typographies($my-typography);
